.body {
    -fx-background-image: url("https://i.pinimg.com/originals/dd/68/53/dd68532e1da5b42710bc1c686cee48f6.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

.button {
    -fx-text-fill: rgba(204, 189, 246, 0.93);
    -fx-background-color: none;
    -fx-border-radius: 24px;
    -fx-border-width: 3px;
    -fx-border-color: rgba(112, 103, 201, 0.85);
}

.button:hover {
    -fx-text-fill: rgba(204, 189, 246, 0.93);
    -fx-background-radius: 24px;
    -fx-background-color:rgba(112, 103, 201, 0.55);
}

.label {
    -fx-text-fill: rgba(204, 189, 246, 0.93);
}